<!--empty array is truthy but 0 is falsy-->
<% if(success && success.length){%>
<!--Bootstrap component -> alerts-->
<!--adding role for screen reader-->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <!--variable created from localObject.property - contains messagesArrayObject of specifc "categoryKey" key from the flash property of current sessoinObject-->
  <!--if "categoryKey" key already used or "categoryKey" does not exist then variable contains empty arrayObject-->
  <%= success %>
  <!--Booststrap Component -> button-->
  <!--adding aria-label for screen reader-->
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>

<!--empty array is truthy but 0 is falsy-->
<% if(error && error.length){%>
<!--Bootstrap component -> alerts-->
<!--adding role for screen reader-->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <!--variable created from localObject.property - contains messagesArrayObject of specifc "categoryKey" key from the flash property of current sessoinObject-->
  <!--if "categoryKey" key already used or "categoryKey" does not exist then variable contains empty arrayObject-->
  <%= error %>
  <!--Booststrap Component -> button-->
  <!--adding aria-label for screen reader-->
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>
