<!--partial template code-->
<!--Bootstrap classes -> footer-->
<!--Bootstrap utilities -> background,spacing -->
<!-- marginTopAuto works with body viewHeight to place footer on bottom of screen-->
<footer class="footer bg-dark py-3 mt-auto">
  <!--Bootstrap layout -> container-->
  <div class="container">
    <!--Bootstrap utilities -> colors-->
    <span class="text-muted">&copy; YelpCamp 2022</span>
  </div>
</footer>
