<!--partial template code-->
<!--Bootstrap component -> navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <!--Bootstrap Layout -> Containers -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YelpCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
          <!--(http structured) GET request-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
          <!--(http structured) GET request-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
          <!--(http structured) GET request-->
        </li>
      </ul>
      <!--Bootstrap Utilities -> spacing -> class -> marginbStart(left)-->
      <ul class="navbar-nav ms-auto">
        <!--variable created from localObject.property - contains foundUser from the user property of current sessoinObject if logged in-->
        <!--variable contains undefined if not logged in-->
        <!--undefined is falsy-->
        <% if(!currentUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
          <!--(http structured) GET request-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
          <!--(http structured) GET request-->
        </li>
        <%} else {%>
        <li class="nav-item">
          <!--(http structured) POST request form-->
          <!--form data not sent via ?queryString(can exist) but sent via request body-->
          <form action="/logout" method="POST">
            <!--Bootstrap Component -> button-->
            <button class="btn nav-link">Logout</button>
          </form>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>
