<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boilerplate</title>
  </head>
  <body>
    <!--we receive diffrent template's code inside body variable-->
    <!--ejs tag - unescaped charecter ie escape as html-->
    <%-body%>
  </body>
</html>
