<% layout("layouts/boilerplate") %>
<!--path argument in functionObject-->
<!--passes in this templates code in body variable to boilerplate template-->
<!--this template then contains the new combined code-->

<!--Bootstrap layout -> grid - row -col - total space col = 12units -->
<div class="row">
  <h1 class="text-center">Add a new campground</h1>
  <!--only take up 6 units out of 12 but offset by 3 to center-->
  <div class="col-6 offset-3">
    <!--(http structured) POST request form-->
    <!--form data not sent via ?queryString(can exist) but sent via request body-->
    <!--form data middlewareMethod of expressAppObject - converts request body into req.body-->
    <!--ie jsObject-{groupKey:{key/name:inputValue,key/name:inputValue}}-->
    <!--form needs novalidate boolean attribute which negates all input's required boolean attribute 
     form also needs custom class needs-validation - This combination allows boostrap validation to take over instead-->
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <!--Bootstrap Utilities -> spacing -> class -> marginbBottom -->
      <div class="mb-3">
        <!-- match for to id -->
        <!--group title as property/key in campground object,campground is property/key in req.body jsObject-->
        <!--Bootstrap Forms -> form controls-->
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          placeholder="Title"
          required
        />
        <!--Bootstrap Forms -> validation -> class -->
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!--Bootstrap Utilities -> spacing -> class -> marginbBottom -->
      <div class="mb-3">
        <!-- match for to id -->
        <!--group location as property/key in campground object, campground is property/key in req.body jsObject-->
        <!--Bootstrap Forms -> form controls-->
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="city, state"
          required
        />
        <!--Bootstrap Forms -> validation -> class -->
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!--Bootstrap Utilities -> spacing -> class -> marginbBottom -->
      <div class="mb-3">
        <!-- match for to id -->
        <!--group image as property/key in campground object, campground is property/key in req.body jsObject-->
        <!--Bootstrap Forms -> form controls-->
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          placeholder="url"
          required
        />
        <!--Bootstrap Forms -> validation -> class -->
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!--Bootstrap Utilities -> spacing -> class -> marginbBottom -->
      <div class="mb-3">
        <!-- match for to id -->
        <!--group price as property/key in campground object, campground is property/key in req.body jsObject-->
        <!--Bootstrap Forms -> form controls-->
        <label class="form-label" for="price">Price</label>
        <!--Bootstrap Forms -> input group-->
        <div class="input-group">
          <span class="input-group-text" id="price-span">$</span>
          <input
            name="campground[price]"
            id="price"
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-span"
            required
          />
          <!--Bootstrap Forms -> validation -> class -->
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <!--Bootstrap Utilities -> spacing -> class -> marginbBottom -->
      <div class="mb-3">
        <!-- match for to id -->
        <!--group description as property/key in campground object, campground is property/key in req.body jsObject-->
        <!--Bootstrap Forms -> form controls-->
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          placeholder="Description"
          required
        ></textarea>
        <!--Bootstrap Forms -> validation -> class -->
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <!--Bootstrap Component -> button-->
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">Back to Index</a
    ><!--(http structured) GET request-->
  </div>
  <!--COLUMN CLOSED-->
</div>
<!--ROW CLOSED-->
